<footer class="flex justify-between items-center dark:bg-gray-900 bg-gray-100 relative shadow-sm font-mono">
    <div class="p-8">
        <h3 class="text-xl font-bold">Pokédex</h3>
        <p>Thomas CROIZET © <%= new Date().getFullYear(); %></p>
    </div>
</footer>