<header>
    <nav class="flex justify-between items-center h-16 dark:bg-gray-900 bg-gray-100 relative shadow-sm font-mono" role="navigation">
        <a href="/" class="pl-8 text-xl font-bold">Pokédex</a>

        <div class="px-4 cursor-pointer md:hidden" onclick="toggleNavbar('mobile-menu')">
            <svg class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                stroke="currentColor">
                <path d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </div>

        <div class="pr-8 md:block hidden">
            <a href="/add" class="p-4">Add pokemon</a>
        </div>
    </nav>
</header>